.analitics {
  padding: var(--paddinPrincipal);
  padding-top: 30px;
  padding-bottom: 30px;
}

.wrapper-analitics {
  max-width: 1200px;
  margin: auto;
}

.contaner-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  border: 1px solid var(--grayRGBA);
  padding: 15px;
  border-radius: 10px;
}

.card p {
  line-height: 27px;
}

.card .icon-card {
  font-size: 30px;
}

.title-analitics {
  max-width: 400px;
}

@media screen and (min-width: 1120px) {
  .contaner-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
