.wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  max-width: 1200px;
  margin: auto;
}

.logo-title {
  font-size: 20px;
  color: var(--celeste);
  font-style: italic;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (min-width: 650px) {
  .header-primary {
    padding-bottom: 40px;
  }
}
