.header-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.logo-title {
  font-size: 20px;
  color: var(--celeste);
  font-style: italic;
  text-decoration: none;
  font-weight: bold;
}

.hamburguer {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../assets/HamburgerMenu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
