@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap");
@import url("./css/header.css");
@import url("./css/hero.css");
@import url("./css/button.css");
@import url("./css/card.css");
@import url("./css/cardComments.css");
@import url("./css/cardPlan.css");
@import url("./css/footer.css");
@import url("./css/menu.css");
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --white: white;
  --font-family: "Inter", sans-serif;
  --celeste: #2f7ff5;
  --celesteOscuro: #177395;
  --celesteClaro: #d7f5f5;
  --gray: #9d9c9a;
  --grayRGBA: rgba(157, 156, 154, 0.582);
  --black: #000000;
  --orange: #ffc057;
  --orangeClaro: #fbf8f3;
  --paddinPrincipal: 0 18px;
  --grayOscuro: #565656;
}

body {
  background: var(--white);
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
}

p {
  color: var(--grayOscuro);
}

hr {
  border: none;
  height: 1.3px;
  background: var(--grayRGBA);
}

header {
  padding: var(--paddinPrincipal);
  background: var(--orangeClaro);
}
